////////////

@font-face {
  font-family: "editorial-new";
  src: url("../assets/fonts/editorial-new-regular.eot");
  src: url("../assets/fonts/editorial-new-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/editorial-new-regular.woff2") format("woff2"),
    url("../assets/fonts/editorial-new-regular.woff") format("woff"),
    url("../assets/fonts/editorial-new-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fk-display-regular";
  src: url("../assets/fonts/fkdisplay-regular-webfont.eot");
  src: url("../assets/fonts/fkdisplay-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fkdisplay-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/fkdisplay-regular-webfont.woff") format("woff"),
    url("../assets/fonts/fkdisplay-regular-webfont.ttf") format("truetype"),
    url("../assets/fonts/fkdisplay-regular-webfont.svg#fk_displayregular")
      format("svg");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fk-grotesk-regular";
  src: url("../assets/fonts/fkgrotesk-regular-webfont.eot");
  src: url("../assets/fonts/fkgrotesk-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fkgrotesk-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/fkgrotesk-regular-webfont.woff") format("woff"),
    url("../assets/fonts/fkgrotesk-regular-webfont.ttf") format("truetype"),
    url("../assets/fonts/fkgrotesk-regular-webfont.svg#fk_groteskregular")
      format("svg");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fk-grotesk-mono";
  src: url("../assets/fonts/fkgrotesk-monospaced-webfont.eot");
  src: url("../assets/fonts/fkgrotesk-monospaced-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fkgrotesk-monospaced-webfont.woff2") format("woff2"),
    url("../assets/fonts/fkgrotesk-monospaced-webfont.woff") format("woff"),
    url("../assets/fonts/fkgrotesk-monospaced-webfont.ttf") format("truetype"),
    url("../assets/fonts/fkgrotesk-monospaced-webfont.svg#fk_groteskmonospaced")
      format("svg");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

////////////

// mixins

@mixin f1 {
  font-family: "fk-display-regular", Arial, Helvetica, sans-serif;

  // dc : vw lets us scale the font with the viewport, important for larger fonts
  font-size: 10vw;
  line-height: 1;
}

.f1 {
  @include f1;
}

//

@mixin f2 {
  font-family: "fk-display-regular", Arial, Helvetica, sans-serif;

  font-size: 72px;
  line-height: 76px;
}

.f2 {
  @include f2;
}

//

@mixin f3 {
  font-family: "fk-grotesk-regular", Arial, Helvetica, sans-serif;

  font-size: 48px;
  line-height: 52px;
}

.f3 {
  @include f3;
}

//

@mixin f4 {
  font-family: "fk-grotesk-regular", Arial, Helvetica, sans-serif;

  font-size: 24px;
  line-height: 28px;
}

.f4 {
  @include f4;
}

//

@mixin b1 {
  font-family: "fk-grotesk-regular", Arial, Helvetica, sans-serif;

  font-size: 16px;
  line-height: 24px;
}

.b1 {
  @include b1;
}

//

@mixin b2 {
  font-family: "fk-grotesk-regular", Arial, Helvetica, sans-serif;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.b2 {
  @include b2;
}

//

@mixin b3 {
  font-family: "fk-grotesk-regular", Arial, Helvetica, sans-serif;

  font-size: 10px;
  line-height: 12px;
}

.b3 {
  @include b3;
}
