.text-huge {
  font-size: 7rem;
  line-height: initial;
}

.w-20vw {
  width: 20vw;
}

.intern-page {
  min-height: 100vh;

  &__calendar {

    &__square {
    
      &:focus {
        outline: none;
      }

      &--clicked {
        // @Dan I'm guessing this is the only way to access this guy?
        .intern-page__calendar__square__overlay {
          opacity: 1; // tailwind has an opacity-100 class
        }
      }
    } 
  }
  // @Dan the reason these little important guys are here is cause I couldn't figure out how to get rid of the header, so just hacked it for the time being
  // I use important to remind me that it's a hack fix and should be addressed later
  padding-top: 0 !important; // !important should almost never be used
}

.header {
  display: none !important; // tailwind has a 'hidden' class that does this
}